html, body{
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f3f3f4;
	color: #676a6c;
	height: 100%;
}

.box{
	border: 1px red dotted;
}

#footerAd{
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-color: #ffffff;
	padding: 10px;
	font-size: 12px;
	color: #676a6c;
}

#nav-header{
	background-color: #ffffff;
	border-bottom: 1px solid #e7eaec;
}

#nav-header ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #676a6c;
}

#nav-header ul a{
	text-decoration: none;
}

#nav-header ul li{
	float: left;
	margin-left: 15px;
	padding: 17px 0px;
}

#nav-header ul .label{
	position: absolute;
	margin-top: -10px;
	margin-left: -5px;
}

#nav-header .glyphicon{
	color: #676a6c;
}

#nav-header .fixed-width{
	width: 35px;
}

#header-search{
	padding-top: 17px;
	vertical-align: center;
	border: none;
	width: 300px;
	outline: none;
}

#sidebar{
	background-color: #2f4050;
	padding: 0px;
}

#sidebarlight li{
	list-style: none;
}

#sidebar a{
	padding: 12px 20px;
	text-decoration: none;
	color: #9fb1c2;
	font-weight: bold;
	font-size: 12px;
	display: block;
}

#sidebarlight a{
	padding: 8px 10px;
	text-decoration: none;
	color: #575757;
	font-weight: bold;
	font-size: 12px;
	display: block;
}

#sidebar a:hover{
	background-color: #293846;
	color: #ffffff;
}

#sidebarlight a:hover{
	background-color: #dddfe2;
	border-radius: 2px;
}

#sidebar h1{
	text-align: center;
	margin: 10px 0px;
	font-size: 25px;
}

#sidebar ul,
#sidebarlight ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#sidebar .active a{
	color: #ffffff;
	background-color: #293846;
}

#sidebar .collapseable,
#sidebarlight .collapseable{
	border-left: 4px solid #1ab394;
	background-color: #293846;
}

#sidebar .collapseable li,
#sidebarlight .collapseable li{
	padding-left: 20px;
	padding-top: 5px; 
}

#sidebar .collapseable a{
	color: #9fb1c2;
	font-size: 12px;
	padding: 0px 10px;
	text-decoration: none;
	display: block;
}

#sidebar .collapseable a:hover{
	color: #ffffff;
}

#sidebar .fa,
#sidebarlight fa{
	margin-right: 6px;
}

#sidebar .glyphicon,
#sidebarlight .glyphicon{
	margin-right: 6px;
}

#sidebar .link > ul > li,
#sidebarlight .link > ul > li{
	padding: 10px;
}

.breadcrumb{
	background-color: #f3f3f4;
}

.content-inner{
	padding: 20px;
}

.content_option{
	width: 80%;
    margin: 15px auto;
}

.content_option .input_option{
	display: inline;
	width: 80%;
	margin-right: 10px
}

.content_option .label_option {
	display: block;
}

.display-table{
	display: table;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.display-table-row{
	display: table-row;
	height: 100%;
}

.display-table-cell{
	display: table-cell;
	float: none;
	height: 100%;
}

.div_center70{
	width: 70%;
	margin: 0 auto;
}

.text_bold{
	font-weight: bold;
}

.label-message{
	background-color: #1ab394;
}

.navbar-primary{
	background-color: #3ca2e0;
	border-color: #0089dc;

	webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
}

.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav > .active > a:focus {
  color: #fff;
  background: rgba(0, 0, 0, .2);
}

.navbar-primary .navbar-nav > li > a {
  color: #fff;
}

.navbar-primary .navbar-nav > .open > a,
.navbar-primary .navbar-nav > .open > a:hover,
.navbar-primary .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #fff;
}

.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-nav > li > a:focus {
  color: #fff;
  background: rgba(0, 0, 0, .1);
}

.panelBox{
	margin: 20px 0px 50px 0px;
	background-color: #ffffff;
	border: 1px solid #d8e2e7;
	border-radius: 3px;
}

.panelBox header{
	border-bottom: 1px solid #f3f3f4;
	padding: 10px 20px;
}

.panelBox header button{
	
}

.page_title{
	margin: 0px;
    font-size: 14px;
    font-weight: bold;
    /*line-height: 1.4;*/
}

.valign-top{
	vertical-align: top;
}

.welcome{
	margin-right: 20px;
}

/*Nav tabs*/
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}