.areas_content{
	width: 95%;
	margin: 0 auto;
}

.content_question{
	width: 90%;
	border-bottom: 1px solid #ebeae6;
	margin: 15px auto;
} 

a.date:hover{
	text-decoration: underline;
}

.paginator{
	padding: 10px;
}

.pre_button{
	display: inline-block;
	border-radius: 50%;
	width: 85px;
	height: 85px;
	margin-bottom: 5px;
}

.pre_button a{
	display: block;
	color: #fff;
}

.pre_button i{
	margin-top: 20px;
	margin-bottom: 23px;
}

.progress-bar-insuficiente, .progress-bar--a{
	background-color: #d9534f;
}

.progress-bar-minimo, .progress-bar-a1{
	background-color: #f0ad4e;
}

.progress-bar-satisfactorio, .progress-bar-a2{
	background-color: #5bc0de
}

.progress-bar-avanzado, .progress-bar-b2{
	background-color: #5cb85c;
}

.page-content{
	padding: 10px 15px;	
}

.question_options{
	padding-top: 20px;
}

.title_areas{
	padding: 0px 40px;
}

/**/
.question_description_header > p:last-child{
	display: none;
}

.question_description > .question_header{
	display: none;
}